@model CultureEditVM;

<form asp-action="Edit" asp-controller="Cultures" method="post">
    <div class="modal fade" id="editModal_@Model.Id" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="editModalLabel">@Localizer["Edit culture"]</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <input type="hidden" asp-for="Id" class="form-control" />
                            <div class="form-group">
                                <label asp-for="Name" class="control-label">@Localizer["Name"]:</label>
                                <input asp-for="Name" class="form-control" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                    <input type="submit" class="btn btn-primary" value="@Localizer["Save changes"]" />
                </div>
            </div>
        </div>
    </div>
</form>